html {
  height: 100%;
  width: 100%;
}

.icon-link {
  background: black;
  text-decoration: none;
  color: white;
  padding: 10px;
  text-align: center;
}

.py-5 {
  background: #e9ecef;
}

.carousel-item {
  display: grid;
  padding: 35px;
  justify-content: center;
}

@media (max-width: 576px) {
  .my-5 {
    position: relative;
    top: 10rem;
  }

  .bg-body-tertiary {
    height: 90vh;
  }
  
}